.sidebar-container {
	position: fixed;
	top: 0;
	left: 0;
	width: 230px;
	height: 100vh;
	display: flex;
	flex-direction: column;
	overflow: hidden;
}

@media (max-width: 768px) {
	.sidebar-container {
		width: 60px;
	}
}

.sidebar-header {
	width: 100%;
	height: 70px;
	background-color: #fff;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	padding-left: 20px;
}

.logo-full {
	color: #fb923c;
	font-weight: 600;
	font-size: 24px;
	display: block;
}

.logo-short {
	color: #fb923c;
	font-weight: 600;
	font-size: 24px;
	display: none;
}

@media (max-width: 768px) {
	.logo-full {
		display: none;
	}
	.logo-short {
		display: block;
		margin: auto;
	}
}

.sidebar-links {
	flex-grow: 1;
	width: 100%;
	background-color: #fff;
	border-right: 1px solid #cbd5e1;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 20px 12px;
	gap: 10px;
	position: relative;
}

@media (max-width: 768px) {
	.sidebar-links {
		align-items: center;
	}
}

.sidebar-link {
	display: flex;
	align-items: center;
	width: 100%;
	padding: 10px;
	border-radius: 8px;
	cursor: pointer;
	background-color: transparent;
	transition: background-color 0.2s;
	gap: 10px;
}

.sidebar-link:hover {
	background-color: #fdba74;
}

.sidebar-link.active {
	background-color: #fdba74;
}

.link-title {
	font-size: 15px;
	font-weight: 500;
	display: block;
}

@media (max-width: 768px) {
	.link-title {
		display: none;
	}
}

.logout-button {
	position: absolute;
	bottom: 20px;
	display: flex;
	align-items: center;
	gap: 10px;
	padding: 10px;
	border-radius: 8px;
	background-color: #e5e7eb;
	cursor: pointer;
	width: 90%;
	transition: background-color 0.2s;
}

.logout-button:hover {
	background-color: #fdba74;
}

@media (max-width: 768px) {
	.logout-button {
		justify-content: center;
		width: 70%;
	}
	.logout-button .link-title {
		display: none;
	}
}
